{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.IGJoshua/coffi {:git/sha "955063b1ba224f394a9cdec974d1340cac670589"}}
 :src-dirs ["src"]
 :aliases {:dev {:jvm-opts ["--enable-preview" "--enable-native-access=ALL-UNNAMED"]}}}
